*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.bg{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/dexter.gif);
    -webkit-background-size: cover;
    background-position: center center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
h1{
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin:10px 15px;
    background-position: center;
    background-size: cover;
}
.card1{
    background-image: url(img/dex.jpg);
}
.card :hover{
    transform: translateY(-10px);
}
.card h2{
 text-align: center;
 font-style: oblique;
 color: aliceblue;
}
.p{
    color: aliceblue;
    font-size: larger;
}
button{
    width: 140px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 15px ;
    cursor: pointer;
}
button  a{
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    text-align: center;
}